h1, h2 {
    font-family: Gramond;
}
h1 {
    text-align: center;
}
p {
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
}
.caption {
    background-color: white;
    color: black;
}